<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sarelo</title>
        <!--my icons here -->
        <link rel="stylesheet" type="text/css" href="assets/icon/font-awesome/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
        <!-- Main CSS here -->
        <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    </head>
    <body>
    
        <div class="wrapper clearfix">
            <header class="m-b-30">
                <!-- ===Nav bar starts here == -->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand navbar-link" href="index.html">
                                <img src="assets/img/logo/sarelo2.svg">
                            </a>
                        </div>
                        
                    </div>
                </nav>
            <!-- ===Nav bar endss here == -->
                <!-- Progress -->
               <!--wizard here-->
               <div class="progressContainer dis-flex">
                    <div class="wizard">
                        <div class="wizard-inner">
                            
                            <ul class="nav nav-tabs">

                                <li role="presentation" >
                                    <a href="#">
                                        <span class="round-tab">
                                            <span class="badge bg-brand-purple">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            Address
                                        </span>
                                    </a>
                                </li>

                                <li role="presentation" class="active">
                                    <a href="#">
                                        <span class="round-tab">
                                            <span class="badge bg-brand-purple">
                                                2
                                            </span>
                                            Delivery Slot
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" >
                                    <a href="#">
                                        <span class="round-tab">
                                            <span class="badge bg-brand-purple">3</span>
                                            Payment
                                        </span>
                                    </a>
                                </li>

                                <li role="presentation">
                                    <a href="#">
                                        <span class="round-tab">
                                            <span class="badge bg-brand-purple">4</span>
                                            Confirmation
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
                <!-- wizard ended -->
               <!-- Progress -->
            </header>
            <section>
                <div class="container width-94p">
                   <div class="row">
                       <div class="col-md-8">
                           <div class="card">
                                <div class="header">
                                    <h4 class="title">
                                        <i class="fa fa-caret-square-o-left"></i> Choose Delivery Times
                                    </h4>
                                </div>
                                <div class="content clearfix">
                                    <!--starts here -->
                                    <div class="card">
                                    	<div class="tabcordion">
                                    	    <ul id="myTab" class="nav nav-tabs">
                                    	        <li class="active">
                                    	            <a href="#order_resume" data-toggle="tab">
                                    	                <p>Tuesday</p>
                                    	                <p>Mar 21</p>
                                    	            </a>
                                    	        </li>
                                    	        <li>
                                    	            <a href="#order_details" data-toggle="tab">
                                    	                <p>Friday</p>
                                    	                <p>Mar 21</p>
                                    	            </a>
                                    	        </li>
                                    	    </ul>
                                    	    <div id="myTabContent" class="tab-content">
                                    	        <div class="tab-pane fade active in" id="order_resume">
                                    	            <div class="table-responsive">
                                    	                <table class="table table-hover">
                                    	                    <tbody>
                                    	                        <tr>
                                    	                            <td>Within 2 hours</td>
                                    	                            <td><button class="btn uppercase" disabled>change</button></td>
                                    	                        </tr>
                                    	                        <tr>
                                    	                            <td>10am - 11am</td>
                                    	                            <td><button class="btn uppercase">change</button></td>
                                    	                        </tr>
                                    	                    </tbody>
                                    	                </table>
                                    	            </div>
                                    	        </div>
                                    	        <div class="tab-pane fade" id="order_details">
                                    	            <div class="table-responsive">
                                    	                <table class="table table-hover">
                                    	                    <tbody>
                                    	                        <tr>
                                    	                            <td>Within 2 hours</td>
                                    	                            <td><button class="btn uppercase" disabled>change</button></td>
                                    	                        </tr>
                                    	                        <tr>
                                    	                            <td>10am - 11am</td>
                                    	                            <td><button class="btn uppercase">change</button></td>
                                    	                        </tr>
                                    	                    </tbody>
                                    	                </table>
                                    	            </div>
                                    	        </div>
                                    	    </div>
                                    	</div>
                                    </div>
	                                <!-- starts here end -->
	                                <div class="divider">
	                                	<hr>
	                                </div>
                                </div>
                                <div class="header">
                                    <h4 class="title">
                                        <i class="fa fa-money"></i> Select Payment Method
                                    </h4>
                                </div>
                                <div class="content">
                                	<div class="row p-t-40 p-b-40">
                                		<div class="col-md-4">
                                			<button type="button" class="btn p-l-30 p-r-30 p-t-10 p-b-10">
                                				<span><i class="fa fa-credit-card"></i></span> Pay Now
                                			</button>
                                		</div>
                                		<div class="col-md-4">
                                			<button type="button" class="btn p-l-30 p-r-30 p-t-10 p-b-10 bg-dark">
                                				<span><i class="fa fa-university"></i></span> Bank Transfer
                                			</button>
                                		</div>
                                		<div class="col-md-4">
                                			<button type="button" class="btn p-l-30 p-r-30 p-t-10 p-b-10">
                                				<span>&nbsp;</span>Pay Via
                                			</button>
                                		</div>
                                	</div>
                                	<p>Use the following details to pay via Bank transfer</p>
                                	<div class="p-l-30 p-b-60">
                                		<table>
                                			<tbody>
                                				<tr>
                                					<td>Account Name</td>
                                					<td class="w-600 p-l-20">Sarelo Ltd</td>
                                				</tr>
                                				<tr>
                                					<td>Account Number</td>
                                					<td class="w-600 p-l-20">0032014612</td>
                                				</tr>
                                			</tbody>
                                		</table>
                                		<div class="row">
                                			<p class="col-md-8">Paying via mobile app? Use this number in the comment</p>
                                			<p class="col-md-2 w-600">O57GK6012WP</p>
                                			<div class="col-md-2">
                                				<button type="button" class="btn uppercase">copy</button>
                                			</div>
                                		</div>
                                	</div>
                                	<div class="clearfix p-r-20 p-l-20 p-b-20">
                                	    <div class="f-left">
                                	        <button type="button" class="btn">Back</button>
                                	    </div>
                                	    <div class="f-right">
                                	        <button type="button" class="btn" disabled>Continue</button>
                                	    </div>
                                	</div>
                                </div>
                           </div>
                        	<p class="text-center">*Terms and condtions apply on free delivery. Learn more</p>
                           
                       </div>
                       <div class="col-md-4">
                           <div class="card">
                                <div class="header">
                                    <h4 class="title">Cart Summary</h4>
                                </div>
                                <div class="content">
                                    <p class="category">The total cost is inclusive of tax, delivery and service charge.</p>
                                    <ul class="p-l-0 list-style-none">
                                        <li>
                                            <hr>
                                        </li>
                                        <li>
                                            <p class="menus">
                                                <span>Your Basket</span>
                                                <span class="pull-right"> 
                                                    &#8358;
                                                    <span class="cash">9882</span>
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="menus">
                                                <span>Sales Tax</span>
                                                <span class="pull-right"> 
                                                    &#8358;
                                                    <span class="cash">9882</span>
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="menus">
                                                <span>Service charge</span>
                                                <span class="pull-right"> 
                                                    &#8358;
                                                    <span class="cash">9882</span>
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="menus">
                                                <span>Delivery Charge</span>
                                                <span class="pull-right"> 
                                                    &#8358;
                                                    <span class="cash">9882</span>
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="menus">
                                                <span>Delivery Slot</span>
                                                <span class="pull-right"> 
                                                    <span class="cash">
                                                        7pm - 8pm, Fri 24 Mar
                                                    </span>
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <hr>
                                        </li>
                                        <li>
                                            <p class="menus">
                                                <span>Total Due</span>
                                                <span class="pull-right"> 
                                                    &#8358;
                                                    <span class="cash">9882</span>
                                                </span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                           </div>
                       </div>
                   </div> 
                </div>
            </section>
        </div>

        
        <!-- jQuery -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
         <script>
             
         </script>
    </body>
</html>