<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>switch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="clearfix">
    <div class="main clearfix">
        <div class="overlay">
            <!-- ===Nav bar starts here == -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand navbar-link" href="index.html">
                            <img src="assets/img/logo/sarelo.svg">
                        </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active" role="presentation"><a href="index.html"><span>How it works</span></a></li>
                            <li role="presentation"><a href="#"><span>About Us</span></a></li>
                            <li role="presentation"><a href="signIn.html"><span> Sign In</span></a></li>
                            <li role="presentation"><a href="signUp.html"><span>Sign Up</span></a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- ===Nav bar endss here == -->

            <!-- ===Main contents begins here ==-->
            <div class="container-fluid">
                <div class="contents m-auto m-t-100 m-b-100 width-50p">
                    <h1 class="text-center l-spacing-2">Why the Long Distance?</h1>
                    <br>
                    <form class="query">
                        <input class="form-control search" type="search" placeholder="You can get it here....">
                        <ul class="suggestions">
                            
                        </ul>
                    </form>
                </div>
                <button class="btn btn-default btn-sm btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Cart</button>
            </div>
            <!-- ===Main contents ends here ==-->

            <!-- ===Page footer begins here == -->
            <div class="footy">
                <ul>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms and Condition</a></li>
                    <li><a href="#">Feedbacks</a></li>
                </ul>
            </div>
            <!-- ===Page footer ends here == -->
        </div>
    </div>
    <!-- BEGIN RIGHT MENU -->
    <nav id="menu-right" >
        <h3>Your Cart</h3>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h6>Today, <span id="thisdate">17 February</span></h6>
            </div>
            <div class="col-xs-12 col-md-12" id="lists" style="height: 200px; padding-top: 10px; overflow-y: scroll;">
                
                <!--product list -->
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="thumbnail">
                            <img src="assets/img/spinach.jpeg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <span class="product_name">Vegetables</span>
                        <span class="price_container">$12:00</span>
                        <div class="btn-group small-group">
                            <button type="button" class="btn btn-default">-</button>
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                    </div>
                </div>
                <!--product list -->

                <!--product list -->
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="thumbnail">
                            <img src="assets/img/spinach.jpeg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <span class="product_name">Vegetables</span>
                        <span class="price_container">$12:00</span>
                        <div class="btn-group small-group">
                            <button type="button" class="btn btn-default">-</button>
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                    </div>
                </div>
                <!--product list -->

                <!--product list -->
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="thumbnail">
                            <img src="assets/img/spinach.jpeg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <span class="product_name">Vegetables</span>
                        <span class="price_container">$12:00</span>
                        <div class="btn-group small-group">
                            <button type="button" class="btn btn-default">-</button>
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                    </div>
                </div>
                <!--product list -->

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <!-- Slider main container -->
                <div class="swiper-container" style="height: 120px; width: 100%">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide dis-flex">News</div>
                        <div class="swiper-slide dis-flex">Ads</div>
                        <div class="swiper-slide dis-flex">Promos</div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div> 
                <!-- Slider main container -->
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h6>SUB-TOTAL: <span id="total_price" class="pull-right">$120.65</span></h6>
            </div>
            <div class="col-xs-12 col-md-12">
                <a class="btn btn-danger btn-block" href="checkout.html">Proceed to Checkout</a>
            </div>
        </div>
    </nav>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        
        $(document).ready(function(){
            app.dataFetcher();
        

           /* var $html = $('html');
            var $btn = $('.btn-cart');

            $btn.on('click', function(e){
                $html.toggleClass("sidebar-lg");
            });
*/
            var mySwiper = new Swiper ('.swiper-container', {
                direction: 'horizontal',
                loop: true,
                autoplay: 1000,
                speed: 300,
                pagination: '.swiper-pagination',
                paginationClickable: true
            }); 
        });
    </script>
</body>

</html>